@using ITechETradeBook_v2.Models;
@model ITechETradeBook_v2.Models.DBImport


@{
    ViewBag.Title = "First Sign Up, E-TradeBook - Online Business Network";
    ITechETradeBook_v2.Models.etradebook_Entities db = new ITechETradeBook_v2.Models.etradebook_Entities();
}
@{

    List<MultipleLanguage> lstMultipleLanguage = db.MultipleLanguages.ToList();
    List<LanguageModel> listLanguage = new List<LanguageModel>();
    foreach (MultipleLanguage item in lstMultipleLanguage)
    {
        listLanguage.Add(new LanguageModel(item));
    }
    var obCurrent = db.Memberships.Where(w => w.Email == WebSecurity.CurrentUserName).FirstOrDefault();
}



<input type="hidden" id="FProfilesuccess" value="@TempData["FProfilesuccess"]" />
<input type="hidden" id="FProfilewarning" value="@TempData["FProfilewarning"]" />

<section>
    <div class="block color-scheme-3">
        <div class="container">
            <div class="alert alert-success" id="updateProfileAlert" style="display: none;">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            </div>
            <div class="header-1">
                <h1> @Html.Raw(listLanguage.Where(l => l.Name == "SignUp_Required").Select(l => l.Value).FirstOrDefault())</h1>
                <div class="header-bottom-line"></div>
                <h3>@Html.Raw(listLanguage.Where(l => l.Name == "Update_your profile").Select(l => l.Value).FirstOrDefault())</h3>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div class="row">
                        <article class="block-form col-xs-12 col-sm-6 col-md-6 col-lg-12">
                            <div class="block-form box-border">
                                <form class="form-horizontal" method="post" action="~/@(HttpContext.Current.Request.Cookies["CurrentCulture"].Value.Substring(0,2))/Account/FProfile" id="frmUpdateProfile" enctype="multipart/form-data">
                                    <div class="form-group">

                                        <label for="inputBUName" class="col-sm-3 control-label">@Html.Raw(listLanguage.Where(l => l.Name == "FProfile-Business trade-name").Select(l => l.Value).FirstOrDefault())<span class="text-error">*</span></label>
                                        <div class="col-sm-9">
                                            <input type="text" name="BusinessName" class="form-control" id="inputBUName" data-bvalidator="required" value="@if (Model != null)
                                                                                                                                                           { @Html.Raw(Model.CompanyName);
                                                                                                                                                           }">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputContactName" class="col-sm-3 control-label">@Html.Raw(listLanguage.Where(l => l.Name == "Contact-name").Select(l => l.Value).FirstOrDefault())<span class="text-error">*</span></label>
                                        <div class="col-sm-9">
                                            <input type="text" name="ContactName" class="form-control" id="inputContactName" value="@if (Model != null)
                                                                                                                                    {@Html.Raw(Model.FirstName);
                                                                                                                                        @Html.Raw(" ");
                                                                                                                                        @Html.Raw(Model.LastName);
                                                                                                                                    }" data-bvalidator="required" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="txtContactNumber" class="col-sm-3 control-label">@Html.Raw(listLanguage.Where(l => l.Name == "Contact-Number:").Select(l => l.Value).FirstOrDefault())<span class="text-error">*</span></label>
                                        <div class="col-sm-9">
                                            <input type="text" name="ContactNumber" id="txtContactNumber" class="form-control" value="@if (Model != null)
                                                                                                                                      { @Model.O_Phone;
                                                                                                                                      }" data-bvalidator="required" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">@Html.Raw(listLanguage.Where(l => l.Name == "Logo Photo").Select(l => l.Value).FirstOrDefault()):</label>
                                        <div style="float: left;" class="col-sm-9">
                                            <input type="file" name="uploadLogo" id="uploadLogo" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">@Html.Raw(listLanguage.Where(l => l.Name == "Cover Photo:").Select(l => l.Value).FirstOrDefault()):</label>
                                        <div style="float: left;" class="col-sm-9">
                                            <input type="file" name="uploadCover" id="uploadCover" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">@Html.Raw(listLanguage.Where(l => l.Name == "Business area:").Select(l => l.Value).FirstOrDefault()): <span class="text-error">*</span></label>
                                        <div class="col-sm-9">
                                            <select name="BusinessAreaId" class="form-control" id="ddlBusinessArea" data-bvalidator="required">
                                                <option value="" selected="selected">@Html.Raw(listLanguage.Where(l => l.Name == "Nothing Selected").Select(l => l.Value).FirstOrDefault()):</option>
                                                @{
                                                    string lang_s = HttpContext.Current.Request.Cookies["CurrentCulture"].Value;

                                                    var buAreas = (from cate in db.Categories
                                                                   join cateCul in db.CategoryCultures on cate.Id equals cateCul.CategoryId
                                                                   join ln in db.Languages on cateCul.LanguageId equals ln.Id
                                                                   where ln.Code == lang_s && cate.IsActive == true && cate.ParentId == null
                                                                   select new
                                                                   {
                                                                       Text = cateCul.Name,
                                                                       Value = cateCul.CategoryId
                                                                   }).ToList();

                                                    if (buAreas.Count > 0)
                                                    {
                                                        foreach (var item in buAreas)
                                                        {
                                                            if (@Model != null)
                                                            {
                                                                if (item.Value == Model.CategoryId)
                                                                {
                                                                    <option value="@item.Value" onchange="ChooseType(@item.Value);" selected="selected">@item.Text</option>
                                                                }
                                                                else
                                                                {
                                                                    <option onchange="ChooseType(@item.Value);" value="@item.Value">@item.Text</option>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <option onchange="ChooseType(@item.Value);" value="@item.Value">@item.Text</option>
                                                            }
                                                        }
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">
                                            @Html.Raw(listLanguage.Where(l => l.Name == "Product_Service").Select(l => l.Value).FirstOrDefault()): @*<span class="text-error">*</span>*@
                                        </label>
                                        @*<div class="col-sm-9">
                                            <input type="text" name="product_services" placeholder="@Html.Raw(listLanguage.Where(l => l.Name == "Free_Text").Select(l => l.Value).FirstOrDefault())" class="form-control">

                                        </div>*@
                                        <select class="col-sm-9" id="ddlProductService">
                                            <option value="" selected="selected">@Html.Raw(listLanguage.Where(l => l.Name == "Please_select").Select(l => l.Value).FirstOrDefault())</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">@Html.Raw(listLanguage.Where(l => l.Name == "Country").Select(l => l.Value).FirstOrDefault()):  <span class="text-error">*</span></label>
                                        <div class="col-sm-9">
                                            <select name="LocationId" id="ddlProfile_Country" class="form-control" data-bvalidator="required">
                                                <option value="">@Html.Raw(listLanguage.Where(l => l.Name == "Nothing Selected").Select(l => l.Value).FirstOrDefault()): </option>
                                                @{
                                                    var listCountry = (from c in db.Countries
                                                                       where c.IsActive == true
                                                                       select new
                                                                       {
                                                                           c.Id,
                                                                           c.Name,
                                                                       }).OrderBy(o => o.Name).ToList();

                                                    foreach (var item in listCountry)
                                                    {
                                                        if (Model != null)
                                                        {
                                                            if (item.Id == Model.LocationId)
                                                            {
                                                                <option value="@item.Id" selected="selected">@item.Name</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@item.Id">@item.Name</option>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <option value="@item.Id">@item.Name</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">
                                            @Html.Raw(listLanguage.Where(l => l.Name == "State/Province_Title").Select(l => l.Value).FirstOrDefault())
                                        </label>
                                        <div class="col-sm-9">
                                            <select name="ddlprovince" class="form-control" id="ddlProfile_Provinces">
                                                <option value="" selected="selected">@Html.Raw(listLanguage.Where(l => l.Name == "Please_select").Select(l => l.Value).FirstOrDefault())</option>
                                                @{

                                                    var provinceList = (from c in db.Provinces
                                                                        select new { c.Name, c.Id }).ToList();

                                                    foreach (var item in provinceList)
                                                    {
                                                        <option value="@item.Id">@item.Name</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">
                                            @Html.Raw(listLanguage.Where(l => l.Name == "City/Suburbs_Title").Select(l => l.Value).FirstOrDefault())
                                        </label>
                                        <div class="col-sm-9">
                                            <select name="ddlcity" class="form-control" id="ddlProfile_City">
                                                <option value="" selected="selected">@Html.Raw(listLanguage.Where(l => l.Name == "Please_select").Select(l => l.Value).FirstOrDefault())</option>
                                            </select>
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <label for="txtPostalAddress" class="col-sm-3 control-label">@Html.Raw(listLanguage.Where(l => l.Name == "Postal Address").Select(l => l.Value).FirstOrDefault()): </label>
                                        <div class="col-sm-9">
                                            <input type="text" name="PostalAddress" id="txtPostalAddress" class="form-control" value="@if (Model != null)
                                                                                                                                      { @Html.Raw(Model.Address);
                                                                                                                                      }" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="txtJobTitle" class="col-sm-3 control-label">@Html.Raw(listLanguage.Where(l => l.Name == "Job title or Position").Select(l => l.Value).FirstOrDefault()): </label>
                                        <div class="col-sm-9">
                                            <input type="text" name="JobTitle" id="txtJobTitle" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="txtDepartment" class="col-sm-3 control-label">@Html.Raw(listLanguage.Where(l => l.Name == "Department").Select(l => l.Value).FirstOrDefault()):</label>
                                        <div class="col-sm-9">
                                            <input type="text" name="Department" id="txtDepartment" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="txtWebAddress" class="col-sm-3 control-label">@Html.Raw(listLanguage.Where(l => l.Name == "Website address").Select(l => l.Value).FirstOrDefault()):</label>
                                        <div class="col-sm-9">
                                            <input type="text" name="WebsiteAddress" id="txtWebAddress" class="form-control" value="@if (Model != null)
                                                                                                                                    { @Model.Website;
                                                                                                                                    }" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="txtTelephone" class="col-sm-3 control-label">@Html.Raw(listLanguage.Where(l => l.Name == "Tel").Select(l => l.Value).FirstOrDefault()):</label>
                                        <div class="col-sm-9">
                                            <input type="text" name="Tel" id="txtTelephone" value="@if (Model != null) { @Model.M_Phone; }" class="form-control" />
                                        </div>
                                    </div>

                                    <h3>@Html.Raw(listLanguage.Where(l => l.Name == "Free Product-Service on Virtual Market").Select(l => l.Value).FirstOrDefault()):</h3>
                                    <hr />
                                    <p><i>@Html.Raw(listLanguage.Where(l => l.Name == "You should upload").Select(l => l.Value).FirstOrDefault()):</i></p>
                                    <p><i>@Html.Raw(listLanguage.Where(l => l.Name == "Other things").Select(l => l.Value).FirstOrDefault()):</i></p>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">@Html.Raw(listLanguage.Where(l => l.Name == "Main Photo").Select(l => l.Value).FirstOrDefault()):</label>
                                        <div style="float: left;" class="col-sm-9">
                                            <input type="file" name="uploadProductServicePhoto" id="uploadProductServicePhoto" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">@Html.Raw(listLanguage.Where(l => l.Name == "Photo 1").Select(l => l.Value).FirstOrDefault()):</label>
                                        <div style="float: left;" class="col-sm-9">
                                            <input type="file" name="uploadProductServicePhoto1" id="uploadProductServicePhoto1" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">@Html.Raw(listLanguage.Where(l => l.Name == "Photo 2").Select(l => l.Value).FirstOrDefault()):</label>
                                        <div style="float: left;" class="col-sm-9">
                                            <input type="file" name="uploadProductServicePhoto2" id="uploadProductServicePhoto2" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">@Html.Raw(listLanguage.Where(l => l.Name == "Photo 3").Select(l => l.Value).FirstOrDefault()):</label>
                                        <div style="float: left;" class="col-sm-9">
                                            <input type="file" name="uploadProductServicePhoto3" id="uploadProductServicePhoto3" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="inputCompany">@Html.Raw(listLanguage.Where(l => l.Name == "Product or Brand name").Select(l => l.Value).FirstOrDefault()):</label>
                                        <div class="col-sm-9">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <input type="text" id="txtProductName" name="ProductName" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="inputPrice">@Html.Raw(listLanguage.Where(l => l.Name == "Currency").Select(l => l.Value).FirstOrDefault()):</label>
                                        <div class="col-sm-9">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <select class="form-control" name="CurrencyId">
                                                        @{
                                                            var currency = (from c in db.Currencies select c).ToList();
                                                            foreach (var item in currency)
                                                            {
                                                                <option value="@item.Id">@item.Code</option>
                                                            }
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="inputPrice">@Html.Raw(listLanguage.Where(l => l.Name == "Price").Select(l => l.Value).FirstOrDefault()):</label>
                                        <div class="col-sm-9">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <input type="text" name="Price" id="inputPrice" class="form-control" value="0.00">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="inputCompany">@Html.Raw(listLanguage.Where(l => l.Name == "Description").Select(l => l.Value).FirstOrDefault()):</label>
                                        <div class="col-sm-9">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <textarea placeholder="Description" name="Description" id="product_description" class="ckeditor" rows="13"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-offset-3 col-sm-9">
                                            <input type="submit" id="btnUpdateProfile" class="btn-default-1 pull-right" value="Update Profile">
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts{
    <script>
        function ChooseType(id) {
            alert(id);
        }
    </script>
}